<table id="Tabla" class="table  table-borderless table-hover rounded-2">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Contenido</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Disponible</th>
            <th>Total Vendidos</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        
    {{#each producs}}
        <tr>
            <td>{{@index}}</td>
            <td>{{nombre}}</td>
            <td>{{contenido}} ml</td>
            <td>$ {{precio}}</td>
            <td>{{tipo}}</td>
            <td>{{disponibles}}</td>
            <td>{{vendidos}}</td>
            <td>
                
                <div>
                    <a class="btn btn-info mt-1" href="/edit/{{_id}}">Actualizar</a>
                    <a class="btn btn-danger mt-1" href="/delete/{{_id}}">Eliminar</a>
                </div>
            </td>
        </tr>

    {{/each}}

    </tbody>
</table>



